<div class="mx-auto create-page">
  <div class="header">
    <h2>{{title}}</h2>
  </div>
  <form>
    <div class="form-group validation" >
      <label for="itemName">Name</label>
      <input #itemName class="form-control" type="text" id="itemName" [required]="true">
    </div>
    <div class="form-group">
      <label for="itemDescription">Description.</label>
      <textarea #itemDescription class="form-control" id="itemDescription" rows="5" maxlength="255"></textarea>
    </div>
    <div class="form-row align-items-center">
      <div class="col-auto">
        <label for="price">Price</label>
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text">€</div>
          </div>
          <input #price type="number" class="form-control" id="price">
        </div>
      </div>
      <div class="col-auto">
        <label for="stock-amount">Amount of Stock</label>
        <input #amountOfStock type="number" class="form-control mb-2" id="stock-amount">
      </div>
    </div>
    <div class="form-btn">
      <button class="btn-primary submit-btn rounded-pill border-0 font-weight-bold" type="submit"
      (click)="createItem(itemName.value, itemDescription.value, +price.value, +amountOfStock.value)"
      >CREATE</button>
      <button class="btn-secondary cancel-btn rounded-pill border-0 font-weight-bold" >CANCEL</button>
    </div>
  </form>
</div>
