<div class="table-responsive">
<table class="table table-bordered table-striped boundary mx-auto ">
  <thead>
  <tr>
    <th scope="col">ID</th>
    <th scope="col">First name</th>
    <th scope="col">Last name</th>
    <th scope="col"><button class="btn-primary border-0 rounded-pill create-customer" (click)="navigateToCreate()">New Customer</button> </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let customer of customers">
    <td>{{customer.id}}</td>
    <td>{{customer.firstname}}</td>
    <td>{{customer.lastname}}</td>
    <td>
      <div class="btn-group justify-content-between">
      <button class="btn-primary border-0 rounded-pill view-customers">View</button>
      <button class="btn-primary border-0 rounded-pill edit-customers">Edit</button>
      </div></td>
  </tr>
  </tbody>
</table>
</div>
