.boundary{
  max-width: 1800px;
}

.create-customer {
  background-color: green;
  min-height: 30px;
  min-width: 50%;
  display: block;
  margin: auto;
}

.btn-group {
  min-width: 100%;
}


.view-customers {
  background-color: lightblue;
  color: black;
  min-width: 40%;
}

.edit-customers {
  background-color: darkcyan;
  min-width: 40%;

}

